# Exclude GitHub and VS Code config folders
.vscode/
# Exclude specs/README.md
specs/README.md
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.env
/playwright/.auth/*.json
# Exclude all files in the playwright/.auth/ directory except for .json files
